.button {
    width: 153px;
    height: 32px;
    border-radius: 5px;
    background-color: $main-color;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    &_main {
        width: 300px;
        height: 54px;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 12px;
    }

    &_submit {
        width: 303px;
        height: 58px;
        left: 0px;
        top: 200px;
        border-radius: 7px;
        background: #C70101;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &_mini {
        width: 135px;
        height: 44px;
        font-size: 14px;
        font-weight: 500;
    }
}