.carousel {
    padding: 81px 0;
    background-color: #FFFFFF;

    &__inner {
        position: relative;
        max-width: calc(100% - 150px);
        margin: 0 auto;

        img {
            width: 100%;
        }
    }
}

.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    border: none;
    background-color: #FFFFFF;
}

.slick-next {
    right: -66px;
    left: auto;
}

.slick-dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto 0;
    width: 50px;

    li {
        width: 5px;
        height: 5px;
        background-color: #aeaeae;
        transition: 0.5s all;
    }

    .slick-active {
        width: 7px;
        height: 7px;
        background-color: $main-color;
    }

    button {
        visibility: hidden;
    }
}