.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../img/consult/consult_bg.png');

    &__descr {
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .error {
        color: white;
    }

    input.error {
        border: 1px solid red;
    }
}