@import "base/nullstyle";
@import "base/fonts";
@import "base/variables.scss";
@import "base/mixins.scss";

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 20px;
}

@import "block/promo.scss";
@import "block/header.scss";
@import "block/buttons.scss";
@import "block/titles.scss";
@import 'block/advantages.scss';
@import 'block/consultation.scss';
@import 'block/forms.scss';
@import 'block/carousel.scss';
@import 'block/catalog.scss';
@import 'block/review.scss';
@import 'block/footer.scss';

@import 'base/media.scss';